<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<header class="header">
    <nav class="nav">

        <ul class="nav">

            <li>
                <a href="{% url 'blog:post_list' %}">Главная</a>
            </li>
            <li>
            </li>

        </ul>

    </nav>
</header>


<div class="post_list">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>